<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONGKODUP</title>   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">   
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>


<header>

    <section class="flex">

        <a href="#" class="logo"><img src="/img/fiximg/reallogo.png" alt=""></a>
        <h1><%=name%></h1>

        
    
        <div class="icons">
            <a href="/home" class="fas fa-house"></a>
            <a href="/listuser" class="fas fa-shopping-cart"></a>
            
        </div>

    </section>

</header>





<div class="container">

    <section class="home" id="home">

        <div class="swiper home-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>KongSod UP</span>
                        <h3>Pork</h3>
                        <p>choose the type of pork</p>
                        <a href="/home/pig" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/img/fiximg/pig.png" alt="">
                    </div>
                </div>
    
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>KongSod UP</span>
                        <h3>beef</h3>
                        <p>choose the type of beef</p>
                        <a href="/home/beef" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/img/fiximg/beef.png" alt="">
                    </div>
                </div>
    
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>KongSod UP</span>
                        <h3>chicken</h3>
                        <p>choose the type of chicken</p>
                        <a href="/home/chicken" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/img/fiximg/chicken.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>KongSod UP</span>
                        <h3>vetgetable</h3>
                        <p>choose the type of vetgetable</p>
                        <a href="/home/vegetable" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/img/fiximg/vegetable.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>KongSod UP</span>
                        <h3>sea food</h3>
                        <p>choose the type of sea food</p>
                        <a href="/home/seafood" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/img/fiximg/seafood.png" alt="">
                    </div>
                </div>
    
            </div>
    
            <div class="swiper-pagination"></div>
    
        </div>
    
    </section>
    
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://kit.fontawesome.com/512cfab8fd.js" crossorigin="anonymous"></script>
<script src="js/script.js"></script>

</body>
</html>
